@charset "UTF-8";

html, body, div, img, ul, li, br {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

ul, li {
	list-style: none;
}

img, video {
	display: block;
	border: 0;
}

a {
	text-decoration: none;
}

@font-face {
  font-family: 'GeosansLightRegular';
  src: url('../css/font/geosanslight-webfont.eot');
  src: url('../css/font/geosanslight-webfont.eot?#iefix') format('embedded-opentype'), url('../css/font/geosanslight-webfont.woff') format('woff'), url('../css/font/geosanslight-webfont.ttf') format('truetype'), url('../css/font/geosanslight-webfont.svg#GeosansLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}