@charset "UTF-8";

#container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#main {
	width: 100%;
	height: 200%;
	background-color: #000;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

#module-navigator, #home {
	width: 100%;
	height: 50%;
	position: relative;
	overflow: hidden;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#handler {
	width: 1500%;
	height: 100%;
	display: flex;
	cursor: url(../images/drag.png), move;
	position: absolute;
	left: 0;
	top: 0;
}

#handler > div {
	flex: 1;
	height: 100%;
	float: left;
	position: relative;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#home {
	
}

/* ----- ----- ----- ----- ----- ----- */

#home .home-back {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
}

#home .home-back-container {
	height: 100%;
	width: 1955px;
	background-image: url(../images/nav/background.gif);
	background-position: 0px 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 100%;
	padding-right: 100%;
}

#home .home-back-item {
	float: left;
	height: 140px;
	width: 135px;
}

#home .home-back-item > div {
	width: 135px;
	text-align: center;
	position: relative;
}

#home .selected .home-back-item-nb {
	color: #fff;
}

#home .home-back-item-nb {
	position: absolute;
	top: -30px;
	left: -140px;
	height: 240px;
	width: 240px;
	z-index: 51;
	font-size: 22px;
	font-family: 'GeosansLightRegular';
	color: #2e2e2e;
}

#home .home-back-item-bg {
	background-repeat: no-repeat;
	position: absolute;
	top: -140px;
	left: -140px;
	height: 240px;
	width: 240px;
	z-index: 50;
}

#home .home-back-item-background {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 239px;
	width: 240px;
	z-index: 50;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#home .home-back-item-transition {
	background-image: url(../images/nav/sprite.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: -1px;
	left: -1px;
	height: 241px;
	width: 241px;
	z-index: 51;
}

/* ----- ----- ----- ----- ----- ----- */

#home .home-front {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

#home .home-front-container {
	margin-top: 50px;
	width: 6580px;
	height: 100%;
	position: absolute;
	top: 50%;
	font-family: 'GeosansLightRegular';
}

#home .home-front-item {
	height: 85px;
	width: 470px;
	float: left;
}

#home .title {
	width: 470px;
	text-align: center;
}

#home .title a {
	font-size: 34px;
	color: #383838;
	font-family: 'GeosansLightRegular';
	letter-spacing: 9px;
	text-decoration: none;
}

#home .home-front-item.selected a {
	color: #fff;
}

#home .description {
	width: 470px;
	text-align: center;
	margin-top: 30px;
	font-size: 12px;
	font-family: 'Georgia';
	font-style: italic;
	color: #686868;
	letter-spacing: 2px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#nav {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	background-color: #ccc;
	display: none;
}

#nav .logo {
	position: absolute;
	left: 50%;
	z-index: 300;
	margin-left: -434px;
	bottom: -20px;
}

/* ----- ----- ----- ----- ----- ----- */

#nav .nav-container {
	padding-top: 10px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -6px;
	height: 32px;
}

#nav .navigator-container {
	width: 100%;
	height: 57px;
	position: relative;
	background-color: #000;
}

#nav .navigator {
	margin: 0 auto;
	width: 421px;
	height: 100%;
	position: relative;
	cursor: pointer;
}

#nav .first-navigator-item {
	margin-top: 0px;
	padding-bottom: 35px;
	padding-top: 20px;
	width: 1px;
	height: 55px;
	float: left;
	background-image: url(../images/nav/nav-r.gif);
}

#nav .navigator-item {
	margin-top: -12px;
	padding-bottom: 35px;
	padding-top: 20px;
	width: 30px;
	height: 55px;
	float: left;
	background: url(../images/nav/nav-r.gif) no-repeat 29px 12px;
	cursor: pointer;
}

#nav .selected {
	background: url(../images/nav/nav-r-selected.gif) no-repeat 0px 12px;
}

#nav .navigator-drag {
	width: 31px;
	height: 55px;
	background-color: #FFF;
	position: absolute;
	bottom: 0px;
	left: 0px;
	cursor: pointer;
}

/* ----- ----- ----- ----- ----- ----- */

#nav .mask-nav {
	width: 100%;
	height: 30px;
	background-color: #000;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#nav .mask-hover {
	width: 100%;
	height: 29px;
	background-color: #2e3234;
	cursor: pointer;
	position: absolute;
	left: 0px;
	
	display: block;
	bottom: -34px;
}

#nav .mask-menu {
	margin-left: -16px;
	width: 32px;
	height: 6px;
	background: url(../images/nav/menu.png) no-repeat center;
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: 14px;
}

/* ----- ----- ----- ----- ----- ----- */

#nav .social {
	margin-right: -359px;
	width: 100px;
	float: left;
	z-index: 101;
	position: absolute;
	right: 50%;
	bottom: -20px;
}

#nav .social li {
	width: 26px;
	height: 11px;
	float: left;
	text-align: center;
	padding-left: 2px;
}

#nav .social a {
	color: #fff;
}

#nav .social img {
	margin: 1px auto 0;
}

#nav .social-twitter {
	border-left: 2px solid #4d4d4d;
}

#nav .sound-control {
	border-left: 2px solid #4d4d4d;
}

/* ----- ----- ----- ----- ----- ----- */

#nav .credit {
	text-align: right;
	position: absolute;
	bottom: 12px;
	right: 12px;
	display: none;
}

#nav .credit:hover .credit-content {
	display: block;
}

#nav .credit-content {
	padding: 45px 20px 40px 30px;
	background-color: #0f0f0f;
	font-size: 10px;
	color: #dcdcdc;
	line-height: 20px;
	text-transform: uppercase;
	display: none;
}

#nav .credit-content span {
	color: #939393;
}

#nav .credit-content a {
	color: #dcdcdc;
}

#nav .credit-title {
	font-size: 10px;
	color: #424545;
	text-transform: uppercase;
	position: absolute;
	bottom: 10px;
	right: 20px;
}