@charset "UTF-8";

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#loader .main-loader-ellipse {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 334px;
	height: 332px;
	margin-top: -166px;
	margin-left: -166px;
	background: url(../images/00loader/circle-loader.png) no-repeat 0 0;
}

#loader .main-loader-item {
	background-color: #383736;
	width: 226px;
	height: 28px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -114px;
	margin-top: -14px;
	overflow: hidden;
	display: none;
}

#loader .main-loader-background {
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #FFF;
}

#loader .main-loader-item img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 101;
}

#loader .tutorial {
	margin-left: -113px;
	width: 226px;
	height: 68px;
	background: url(../images/00loader/tutorial.gif) no-repeat 0 0;
	position: absolute;
	left: 50%;
	bottom: 100px;
	z-index: 200;
	display: none;
}

#loader .txt-drag {
	position: absolute;
	bottom: 70px;
	left: 50%;
	height: 7px;
	width: 163px;
	margin-left: -81px;
	background: url(../images/00loader/txt-dragprojects.gif) no-repeat 0 0;
	display: none;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#whoweare {
	background: url(../images/01whoweare/background.jpg) no-repeat 0 0/cover;
}

#whoweare-loop-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
}

#whoweare-section-container {
	height: 135px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -67px;
	font-family: 'GeosansLightRegular';
}

#whoweare-section-container .whoweare-section {
	width: 100%;
	position: relative;
	cursor: pointer;
}

#whoweare-section-container .whoweare-section.selected:hover {
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}

#whoweare-section-container .whoweare-section-separation {
	width: 100%;
	height: 1px;
	background: url(../images/01whoweare/bottom.png) repeat-x bottom left;
	position: relative;
}

#whoweare-section-container .whoweare-title {
	width: 100%;
	text-align: center;
	color: #FFF;
	height: 24px;
	text-transform: uppercase;
	font-size: 31px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	letter-spacing: 8px;
}

#whoweare-section-container .whoweare-title span {
	text-transform: uppercase;
	font-size: 31px;
	text-align: center;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	z-index: 100;
}

#whoweare-section-container .whoweare-title .section-hover {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}

#whoweare-section-container .whoweare-title .whoweare-popup {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 200;
}

#whoweare-section-container .whoweare-title .whoweare-popup .whoweare-description {
	font-size: 14px;
	line-height: 22px;
	color: #bfbdc0;
	letter-spacing: 0px;
	text-transform: none;
	height: 13px;
	margin: 95px auto 0px;
	padding: 0px;
	position: relative;
}

#whoweare-caption {
	position: absolute;
	bottom: 70px;
	left: 50%;
	width: 158px;
	height: 32px;
	margin-left: -79px;
	background: url(../images/01whoweare/whoweare.png) no-repeat center center;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-ralphlauren {
	width: 100%;
	height: 100%;
	position: relative;
}

#ralph-container {
	width: 100%;
	height: 200%;
	position: absolute;
	left: 0;
	top: 0;
}

#ralph-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}

#ralph-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
	z-index: 50;
}

#ralph-video {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0px;
	background-color: #000000;
	z-index: 0;
}

#ralph-video video {
	margin: 0 auto;
	height: 100%;
}

#ralph-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#ralph-intro .ralph-sub {
	width: 50%;
	height: 50%;
	text-align: center;
	float: left;
	position: relative;
}

#photo-one {
	background: url(../images/02ralphlauren/photo1.jpg) no-repeat top center/cover;
}

#video-one {
	background: url(../images/02ralphlauren/video1.jpg) no-repeat center left/cover;
}

#video-one .back-video {
	opacity: 0;
}

#video-two {
	background: url(../images/02ralphlauren/video2.jpg) no-repeat top right/cover;
}

#ralph-launch {
	min-width: 403px;
	min-height: 192px;
	height: 50%;
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 150;
	background-image: url(/skins/blacknegative/images/ralph/animation.gif);
	background-position: -1060px 0px;
	background: url(../images/02ralphlauren/animation.gif) no-repeat -1060px 0;
	cursor: pointer;
}

#ralph-launch .ralph-launch-normal {
	width: 290px;
	height: 119px;
	background: url(../images/02ralphlauren/launch-normal.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -143px;
	margin-top: -56px;
}

#ralph-launch .ralph-launch-over {
	width: 210px;
	height: 61px;
	background: url(../images/02ralphlauren/launch-over.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -105px;
	margin-top: -30px;
	display: none;
}

#ralph-photo2 {
	position: absolute;
	top: 50%;
	left: 0px;
	height: 50%;
	width: 50%;
	min-width: 403px;
	background: url(../images/02ralphlauren/photo2.jpg) no-repeat top center/cover;
	background-repeat: no-repeat;
	z-index: 100;
}

#ralph-photo3 {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 50%;
	background: url(../images/02ralphlauren/photo3.jpg) no-repeat top right/cover;
	z-index: 99;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-bose {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(../images/03bose/background.jpg) no-repeat center center;
	background-size: cover;
}
#bose-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#bose-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}
#bose-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
	z-index: 50;
}
#bose-video {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 0px;
	background-color: #000;
	z-index: 0;
}
#bose-video video {
	margin: 0 auto;
	height: 100%;
}
#bose-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
}
#bose-loop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	color: #FFF;
	overflow: hidden;
	opacity: 0;
}
#bose-loop video {
	margin: 0 auto;
}
#bose-evolve {
	position: absolute;
	top: 50%;
	left: 125px;
	margin-top: -200px;
	width: 0px;
	height: 11px;
	background: url(../images/03bose/evolve.png) no-repeat center center;
}
#bose-making {
	position: absolute;
	top: 50%;
	left: 126px;
	margin-top: -128px;
	width: 278px;
	height: 90px;
	background: url(../images/03bose/making.png) no-repeat center center;
}
#bose-line {
	position: absolute;
	top: 50%;
	left: 132px;
	margin-top: -12px;
	width: 0px;
	height: 2px;
	background-color: #FFF;
}
#bose-ready {
	position: absolute;
	top: 50%;
	left: 132px;
	margin-top: 28px;
	width: 0px;
	height: 63px;
	z-index: 999;
	background: url(../images/03bose/ready.png) no-repeat center center;
	cursor: pointer;
}
#bose-over {
	position: absolute;
	top: 50%;
	left: 127px;
	margin-top: 22px;
	width: 303px;
	height: 75px;
	z-index: 995;
	display: none;
	background: url(../images/03bose/over.png) no-repeat center center;
}
#bose-sounddesign {
	position: absolute;
	top: 50%;
	left: 228px;
	margin-top: 218px;
	width: 0px;
	height: 20px;
	background: url(../images/03bose/sounddesign.png) no-repeat center center;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#bullittagency {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
#bullitt-bg {
	height: 100%;
	width: 100%;
	background: url(../images/04bullittagency/background.jpg) no-repeat 0/cover;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 49;
}
#bullitt-loop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
	opacity: 0;
}
#bullitt-text {
	width: 484px;
	height: 194px;
	background: url(../images/04bullittagency/text.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 98;
	margin-left: -242px;
	margin-top: -150px;
	display: none;
}
#bullitt-launch {
	width: 392px;
	height: 50px;
	background: url(../images/04bullittagency/launch.png) no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 98;
	margin-left: -196px;
	margin-top: 96px;
	display: none;
}
#bullitt-launch:hover {
	background-image: url(../images/04bullittagency/launch-hover.png);
}
#bullitt-intro {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	z-index: 100;
}
#bullitt-intro > div {
	height: 93px;
	width: 92px;
	background-color: #0f1011;
	float: left;
	cursor: pointer;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-adisseo {
	height: 100%;
	width: 100%;
	position: relative;
}
#adisseo-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#adisseo-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}
#adisseo-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
	z-index: 49;
}
#adisseo-placeholder > video {
	height: 100%;
	margin: 0 auto;
}
#adisseo-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	overflow: hidden;
}
#adisseo-bg {
	height: 110%;
	width: 100%;
	position: absolute;
	bottom: 0%;
	left: 0px;
	background: #000 url(../images/05adisseo/background.jpg) no-repeat center right;
	background-size: cover;
	overflow: hidden;
}
#adisseo-content {
	width: 316px;
	height: 110%;
	position: absolute;
	bottom: 35%;
	left: 140px;
	background: url(../images/05adisseo/content.png) no-repeat bottom left;
}
#adisseo-hover {
	position: absolute;
	bottom: 155px;
	left: -2px;
	width: 141px;
	height: 141px;
	z-index: 999;
	overflow: hidden;
	cursor: pointer;
}
#adisseo-hover .adisseo-hover-content {
	width: 100%;
	height: 100%;
	position: relative;
}
#adisseo-hover .adisseo-elipse {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 995;
	background: url(../images/05adisseo/elipse.png) no-repeat 0 0;
	background-size: contain;
}
#adisseo-hover .adisseo-sprite {
	width: 100px;
	height: 55px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -22px;
	margin-left: -47px;
	z-index: 996;
	background: url(../images/05adisseo/sprite.png) no-repeat 0 0;
}
#adisseo-hover:hover .adisseo-elipse {
	background-image: url(../images/05adisseo/sprite-hover.png);
}
#adisseo-casestudy {
	width: 473px;
	height: 270px;
	position: absolute;
	bottom: 135%;
	left: 50%;
	margin-left: -100px;
	margin-bottom: -48px;
	background: url(../images/05adisseo/casestudy.png) no-repeat 0 0;
}
#adisseo-separation {
	height: 110%;
	width: 3px;
	background: url(../images/05adisseo/separation.png) repeat-y 0 0;
	position: absolute;
	bottom: 291px;
	left: 67px;
}
#adisseo-launch {
	width: 101px;
	height: 101px;
	position: absolute;
	bottom: 170%;
	left: 317px;
	background: url(../images/05adisseo/launch.png) no-repeat 0 0;
	cursor: pointer;
}
#adisseo-launch:hover {
	background-image: url(../images/05adisseo/content-hover.png);
}
#adisseo-launch-img {
	width: 101px;
	height: 101px;
	background: url(../images/05adisseo/launch.png) no-repeat 0 0;
}
#adisseo-separation2 {
	height: 100%;
	width: 3px;
	background: url(../images/05adisseo/separation.png) repeat-y 0 0;
	position: absolute;
	bottom: 66px;
	left: 48px;
	margin-bottom: 35px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-kindy {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
}
#kindy-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#kindy-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}
#kindy-placeholder-video {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
	overflow: hidden;
}
#kindy-placeholder-video video {
	height: 100%;
	margin: 0 auto;
	display: none;
}
#kindy-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	background-color: #101621;
	overflow: hidden;
}
#kindy-intro .kindy-section {
	height: 614px;
	width: 614px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -307px;
	margin-left: -307px;
	z-index: 200;
	display: none;
}
#kindy-background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}
#kindy-background .back-video {
	margin: 0 auto;
	opacity: 0;
}
#kindy-circle {
	height: 875px;
	width: 874px;
	background: url(../images/06kindy/circle.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -438px;
	margin-left: -437px;
	z-index: 201;
}
#spriteCircle {
	height: 632px;
	width: 632px;
	background: url(../images/06kindy/spriteCircle.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -316px;
	margin-left: -316px;
	z-index: 201;
	display: none;
}
#kindy-find {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -200px;
	height: 13px;
	width: 325px;
	background: url(../images/06kindy/find.png) no-repeat center center;
	z-index: 400;
}
#kindy-adventures {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -155px;
	height: 128px;
	width: 290px;
	background: url(../images/06kindy/adventures.png) no-repeat center center;
	z-index: 400;
}
#kindy-launch {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 195px;
	margin-top: -1400px;
	height: 1635px;
	width: 137px;
	background: url(../images/06kindy/launch.png) no-repeat center center;
	z-index: 400;
	cursor: pointer;
}
#kindy-section {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -410px;
	margin-top: 100px;
	z-index: 205;
}
#kindy-section > ul > li {
	font-size: 16px;
	font-family: "Georgia";
	color: #948e8c;
	padding-left: 25px;
	padding-bottom: 4px;
	padding-top: 4px;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
}
#kindy-section > ul > li.current {
	font-size: 26px;
	font-family: "Georgia";
	font-style: italic;
	color: #FFF;
	background: url(../images/06kindy/current.png) no-repeat center left;
}
#spriteIn {
	width: 380px;
	height: 380px;
	background: url(../images/06kindy/spriteIn.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -190px;
	z-index: 201;
	display: none;
}
#spriteTitle {
	width: 135px;
	height: 98px;
	background: url(../images/06kindy/spriteTitle.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -453px;
	z-index: 203;
}
#kindy-section1 {
	background: url(../images/06kindy/1.jpg) no-repeat 0 0;
}
#kindy-section2 {
	background: url(../images/06kindy/2.jpg) no-repeat 0 0;
}
#kindy-section3 {
	background: url(../images/06kindy/3.jpg) no-repeat 0 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-sanofi {
	height: 100%;
	width: 100%;
	position: relative;
}
#sanofi-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000;
}
#sanofi-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}
#sanofi-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
}
#sanofi-placeholder video {
	height: 100%;
	margin: 0 auto;
}
#sanofi-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	overflow: hidden;
	background-color: #000;
	opacity: 0;
}
#sanofi-background {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: url(../images/07sanofi/background.jpg) no-repeat center center;
	background-size: cover;
}
#sanofi-flou {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	background: url(../images/07sanofi/flou.jpg) no-repeat center center;
}
#sanofi-find {
	width: 815px;
	height: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -203px;
	margin-left: -407px;
	background: url(../images/07sanofi/find.png) no-repeat center center;
}
#sanofi-known {
	width: 473px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 193px;
	margin-left: -136px;
	background: url(../images/07sanofi/known.png) no-repeat center center;
}
#sanofi-lines {
	width: 566px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 0px;
	margin-left: -282px;
	background: url(../images/07sanofi/lines.png) no-repeat center center;
}
#sanofi-stockholm {
	width: 8px;
	height: 141px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 40px;
	margin-left: -382px;
	background: url(../images/07sanofi/stockholm.png) no-repeat center center;
}
#sanofi-stroke {
	width: 219px;
	height: 219px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -109px;
	margin-left: -109px;
	background: url(../images/07sanofi/stroke.png) no-repeat center center;
}
#sanofi-stroke1 {
	width: 341px;
	height: 342px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -171px;
	margin-left: -170px;
	background: url(../images/07sanofi/stroke1.png) no-repeat center center;
}
#sanofi-stroke2 {
	width: 297px;
	height: 298px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -148px;
	margin-left: -149px;
	background: url(../images/07sanofi/stroke2.png) no-repeat center center;
}
#sanofi-launch {
	height: 141px;
	width: 221px;
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 100;
	margin-top: -110px;
	margin-left: -110px;
	background: url(../images/07sanofi/launch.png) no-repeat center center;
	font-family: 'GeogrotesqueSemiBold';
	color: #FFF;
	text-align: center;
	font-size: 11px;
	line-height: 24px;
	letter-spacing: 3px;
	padding-top: 80px;
	cursor: pointer;
	opacity: 0;
}
#sanofi-launch span {
	font-size: 26px;
	letter-spacing: 4px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-news {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#news-cont {
	width: 100%;
	min-width: 1280px;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}
#news-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
}
#news-placeholder-video {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	text-align: center;
	color: #FFF;
}
#news-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	background: url(../images/08news/background.jpg) no-repeat 0 0;
	background-size: cover;
}
#news-loop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	color: #FFF;
	opacity: 0;
}
#news-loop .back-video {
	margin: 0 auto;
}
#news-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
	overflow: hidden;
}
#news-container .jspContainer {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#news-container .jspPane {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#news-scroll-line {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: 599px;
	width: 31px;
	height: 100%;
	background: url(../images/08news/pixel.png) repeat-y 0 0;
}
#news-hot {
	background-image: url(../images/08news/hot.png);
	position: absolute;
	top: 0%;
	left: 50%;
	width: 322px;
	height: 321px;
	margin-left: -161px;
}
#news-lines {
	position: absolute;
	top: 0px;
	left: 50%;
	height: 100%;
	width: 842px;
	margin-left: -600px;
	background: url(../images/08news/lines.png) repeat-y 0 0;
}
#news-handler {
	background-image: url(../images/08news/background.png);
	background-position: 50% 161px;
}
#news-placeholder {
	width: 1200px;
	height: 1367px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#news-placeholder > div {
	float: left;
	width: 370px;
	padding-left: 15px;
	padding-right: 15px;
	height: 382px;
}
#news-placeholder .news-visuel {
	position: absolute;
	top: -227px;
	left: 2px;
	height: 608px;
	width: 398px;
	opacity: 0;
}
#news-placeholder .news-visuel > img {
	width: 398px;
	height: 608px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
#news-placeholder .news-visuel > img:nth-of-type(1) {
	display: block;
}
#news-placeholder .news-date {
	font-size: 12px;
	font-family: 'GeogrotesqueSemiBold';
	color: #FFF;
	padding-top: 8px;
	padding-bottom: 12px;
	position: relative;
}
#news-placeholder .news-title {
	width: 400px;
	font-size: 13px;
	font-family: 'GeogrotesqueSemiBold';
	color: #FFF;
	padding-top: 38px;
	line-height: 22px;
	opacity: 0.4;
}
#news-placeholder .news-description {
	width: 401px;
	font-size: 13px;
	color: #FFF;
	opacity: 0.4;
	font-family: 'AkzidenzGroteskBQRegular';
	line-height: 22px;
	padding-bottom: 70px;
}
#news-container .jspVerticalBar  {
	width: 33px;
	height: 100%;
	right: 50%;
	margin-right: -632px;
	position: absolute;
	top: 0;
	right: 50%;
}
#news-container .jspTrack {
	height: 100%;
	padding-left: 6px;
	margin-right: 3px;
	background: none;
	position: relative;
}
#news-container .jspDrag {
	width: 19px;
	height: 189px;
	background: #999 url(../images/08news/scroll.png) no-repeat 0 0;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-twist {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#twist-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: -100%;
	left: 0px;
}
#twist-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}
#twist-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	text-align: center;
	color: #FFF;
}
#twist-placeholder > video {
	height: 100%;
	margin: 0 auto;
}
#twist-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0%;
	left: 0px;
	overflow: hidden;
}
#twist-ecran-box {
	height: 100%;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
}
#twist-ecran1 {
	z-index: 98;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 1;

	display: block;
}
#twist-launch1 {
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../images/09twist/launch.jpg) no-repeat center center;
	height: 437px;
	width: 437px;
	margin-left: -230px;
	margin-top: -275px;
}
#twist-background {
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../images/09twist/background.png) no-repeat center center;
	height: 9px;
	width: 980px;
	margin-left: -470px;
	margin-top: -20px;
}
#twist-action {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-top: -230px;
	margin-left: -280px;
	z-index: 600;
	cursor: pointer;
}
#twist-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 0px;
	margin-left: 101px;
	height: 0px;
	width: 0px;
	opacity: 0;
}
#twist-go {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 132px;
	margin-left: 232px;
	height: 0px;
	width: 0px;
	opacity: 0;
}
#twist-ecran2 {
	background-color: #dedfe5;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 97;
	background: url(../images/09twist/background2.jpg) no-repeat center center;
	background-size: cover;
}
#twist-launch {
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../images/09twist/launch.png) no-repeat center center;
	height: 159px;
	width: 156px;
	margin-left: 351px;
	margin-top: 55px;
	z-index: 80;
	cursor: pointer;
}
#twist-launch:hover {
	background-image: url(../images/09twist/launch-hover.png);
}
#twist-sprite1 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 51;
	margin-top: -180px;
	margin-left: -150px;
	width: 70px;
	height: 93px;
	background: url(../images/09twist/sprite1.png) no-repeat 0 0;
}
#twist-sprite2 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 51;
	margin-top: -50px;
	margin-left: 0px;
	width: 44px;
	height: 53px;
	background: url(../images/09twist/sprite2.png) no-repeat 0 0;
}
#twist-sprite3 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 51;
	margin-top: 190px;
	margin-left: -100px;
	width: 159px;
	height: 157px;
	background: url(../images/09twist/sprite3.png) no-repeat 0 0;
}
#twist-sprite4 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 49;
	margin-top: 70px;
	margin-left: 260px;
	width: 257px;
	height: 187px;
	background: url(../images/09twist/sprite4.png) no-repeat 0 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-luminarc {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#luminarc-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}
#luminarc-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}
#luminarc-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
}
#luminarc-placeholder video {
	height: 100%;
	margin: 0 auto;
}
#luminarc-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	background: url(../images/10luminarc/background.jpg) no-repeat 0 0/cover;
}
#luminarc-loop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	opacity: 0;
}
#luminarc-logo {
	height: 175px;
	width: 188px;
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 100;
	margin-top: -140px;
	margin-left: -96px;
	background: url(../images/10luminarc/logo.png) no-repeat center center;
}
#luminarc-logo .back-video {
	margin: 0 auto;
}
#luminarc-text {
	height: 34px;
	width: 563px;
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 100;
	margin-top: 70px;
	margin-left: -261px;
	background: url(../images/10luminarc/text.png) no-repeat center center;
}
#luminarc-launch {
	height: 49px;
	width: 229px;
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 100;
	margin-top: 150px;
	margin-left: -96px;
	background: url(../images/10luminarc/launch.png) no-repeat center center;
	cursor: pointer;
}
#luminarc-launch:hover {
	background-image: url(../images/10luminarc/over.png);
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#main-client {
	height: 100%;
	width: 100%;
	position: relative;
	background: url(../images/11client/background.jpg) no-repeat 0 0/cover; 
}
#client-loop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	color: #FFF;

	opacity: 0;
}
#client-loop .back-video {
	margin: 0 auto;
}
#client-grid {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: url(../images/11client/background.png) repeat center;
}
#client-work {
	background: url(../images/11client/work.png) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 196px;
	height: 8px;
	margin-left: -98px;
	margin-top: -268px;
	color: #FFF;
}
#client-good {
	background: url(../images/11client/good.png) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 683px;
	height: 20px;
	margin-left: -341px;
	margin-top: -66px;
	opacity: 1;
}
#client-launch {
	background: url(../images/11client/launch.png) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 115px;
	height: 159px;
	margin-left: -62px;
	margin-top: 88px;
	z-index: 200;
	cursor: pointer;
}
#client-launch:hover {
	background-image: url(../images/11client/over.png);
}
#client-back {
	background: url(../images/11client/back.png) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 255px;
	height: 255px;
	margin-left: -128px;
	margin-top: 0px;
	z-index: 200;
	cursor: pointer;

	display: none;
}
#main-client .item-client {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 257px;
	height: 257px;
	z-index: 199;
	background: url(../images/11client/fond.png) no-repeat center;

	opacity: 0;
}
#main-client .item-client-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 150px;
	margin-left: -75px;
	margin-top: -75px;
	background-position: center center;
	background-repeat: no-repeat;
}

#client1 {
	margin-top: -128px;
}
#client1 .item-client-logo {
	background-image: url(../images/11client/Citroen.png);
}

#client2 {
	margin-top: -256px;
	margin-left: 128px;
}
#client2 .item-client-logo {
	background-image: url(../images/11client/maybeline.png);
}

#client3 {
	margin-top: -384px;
	margin-left: 0;
}
#client3 .item-client-logo {
	background-image: url(../images/11client/adidas.png);
}

#client4 {
	margin-top: 0;
	margin-left: 128px;
}
#client4 .item-client-logo {
	background-image: url(../images/11client/Sanofi.png);
}

#client5 {
	margin-top: -128px;
	margin-left: 256px;
}
#client5 .item-client-logo {
	background-image: url(../images/11client/adisseo.png);
}

#client6 {
	margin-top: -256px;
	margin-left: -128px;
}
#client6 .item-client-logo {
	background-image: url(../images/11client/bose.png);
}

#client7 {
	margin-top: -128px;
	margin-left: -256px;
}
#client7 .item-client-logo {
	background-image: url(../images/11client/remy.png);
}

#client8 {
	margin-top: -255px;
	margin-left: -383px;
}
#client8 .item-client-logo {
	background-image: url(../images/11client/axa.png);
}

#client9 {
	margin-top: 128px;
	margin-left: -256px;
}
#client9 .item-client-logo {
	background-image: url(../images/11client/cristal-darc.png);
}

#client10 {
	margin-top: 0;
	margin-left: -383px;
}
#client10 .item-client-logo {
	background-image: url(../images/11client/kindy.png);
}

#client11 {
	margin-top: 128px;
	margin-left: 0;
}
#client11 .item-client-logo {
	background-image: url(../images/11client/luminarc.png);
}

#client12 {
	margin-top: 256px;
	margin-left: -128px;
}
#client12 .item-client-logo {
	background-image: url(../images/11client/maybeline.png);
}

#client13 {
	margin-top: -512px;
	margin-left: -128px;
}
#client13 .item-client-logo {
	background-image: url(../images/11client/Novalab.png);
}

#client14 {
	margin-top: -383px;
	margin-left: -256px;
}
#client14 .item-client-logo {
	background-image: url(../images/11client/ralph-lauren.png);
}

#client15 {
	margin-top: -128px;
	margin-left: -511px;
}
#client15 .item-client-logo {
	background-image: url(../images/11client/Sanofi.png);
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#ownthesky-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#ownthesky-back {
	height: 50%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0px;
    z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}

#ownthesky-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
}

#ownthesky-placeholder > video {
	height: 100%;
	margin: 0 auto;
}

#ownthesky-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	background: #000 url(../images/12ownthesky/background.jpg) no-repeat 0 0/cover;
}

#ownthesky-loop {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	opacity: 0;
}

#ownthesky-logo {
	height: 377px;
	width: 308px;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 100;
	margin-top: -270px;
	margin-left: -154px;
	background: url(../images/12ownthesky/logo.png) no-repeat center center;
}

#ownthesky-launch {
	height: 89px;
	width: 249px;
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 100;
	margin-top: 180px;
	margin-left: -125px;
	background: url(../images/12ownthesky/launch.png) no-repeat 0 0;
	cursor: pointer;
}

#ownthesky-launch:hover {
	background-position: 0px -89px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#citroen-container {
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#citroen-back {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	z-index: 51;
	cursor: url(../images/01whoweare/cursor-close.png), pointer;
}

#citroen-placeholder {
	height: 50%;
	width: 100%;
	position: absolute;
	top: -50%;
	left: 0px;
	background-color: #000;
	text-align: center;
	color: #FFF;
}

#citroen-placeholder > video {
	height: 100%;
	margin: 0 auto;
}

#citroen-intro {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0%;
	left: 0px;
	overflow: hidden;
}

/* ----- ----- ----- ----- */

#citroen-drag-bg {
	height: 100%;
	width: 100%;
	background-color: #141318;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 19;
}

#citroen-logo {
	background: url(../images/13citroen/logo.png) no-repeat 0 0;
	width: 513px;
	height: 491px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -256px;
	margin-top: -295px;
	z-index: 20;
}

#main-sequence {
	width: 513px;
	height: 491px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -295px;
	margin-left: -256px;
	z-index: 21;
}

#main-sequence > img {
	height: 100%;
	width: 100%;
}

#citroen-dragbar {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -210px;
	margin-top: 250px;
	width: 420px;
	height: 35px;
	background: url(../images/13citroen/line.jpg) repeat-x 0 0;
	z-index: 999;
}

#citroen-dragbar:hover #citroen-drag-over {
	background-image: url(../images/13citroen/drag-over.gif);
}

#citroen-drag-over {
	width: 150px;
	height: 35px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
}

#citroen-drag {
	width: 150px;
	height: 35px;
	background: url(../images/13citroen/sprite.gif) no-repeat 0 0;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* ----- ----- ----- ----- */

#citroen-background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/13citroen/background.jpg) no-repeat center center/cover;
	overflow: hidden;
}

#citroen-link {
	margin-left: 26px;
	margin-top: -145px;
	width: 562px;
	height: 353px;
}

#citroen-link > div {
	width: 562px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

#citroen-imagine {
	height: 131px;
	background-image: url(../images/13citroen/imagine.png);
}

#citroen-launch {
	height: 189px;
	background-image: url(../images/13citroen/launch.png);
	cursor: pointer;
}

#citroen-launch:hover {
	background-image: url(../images/13citroen/launch-hover.png);
}

#citroen-intro .citroen-obj {
	position: absolute;
	top: 50%;
	left: 50%;
}

#citroen-obj1 {
	width: 163px;
	height: 182px;
	margin-left: -700px;
	margin-top: -70px;
	z-index: 19;
	background: url(../images/13citroen/obj1.png) no-repeat 0 0;
}

#citroen-obj2 {
	width: 27px;
	height: 54px;
	margin-left: -800px;
	margin-top: 30px;
	z-index: 3;
	background: url(../images/13citroen/obj2.png) no-repeat 0 0;
}

#citroen-obj3 {
	width: 31px;
	height: 37px;
	margin-left: -700px;
	margin-top: 60px;
	z-index: 2;
	background: url(../images/13citroen/obj3.png) no-repeat 0 0;
}

#citroen-obj4 {
	width: 100px;
    height: 89px;
    margin-left: 450px;
    margin-top: 100px;
    z-index: 15;
	background: url(../images/13citroen/obj4.png) no-repeat 0 0;
}

#citroen-obj5 {
	width: 16px;
	height: 41px;
	margin-left: 300px;
	margin-top: 120px;
	z-index: 2;
	background: url(../images/13citroen/obj5.png) no-repeat 0 0;
}

#citroen-obj6 {
	width: 20px;
    height: 18px;
    margin-left: 200px;
    margin-top: 160px;
    z-index: 3;
	background: url(../images/13citroen/obj6.png) no-repeat 0 0;
}

#citroen-obj7 {
	width: 17px;
	height: 27px;
	margin-left: -370px;
	margin-top: 130px;
	z-index: 2;
	background: url(../images/13citroen/obj7.png) no-repeat 0 0;
}

#citroen-obj8 {
	width: 105px;
	height: 89px;
	margin-left: 120px;
	margin-top: -70px;
	z-index: 10;
	background: url(../images/13citroen/obj8.png) no-repeat 0 0;
}

#citroen-obj9 {
	width: 64px;
	height: 57px;
	margin-left: -110px;
	margin-top: -250px;
	z-index: 8;
	background: url(../images/13citroen/obj9.png) no-repeat 0 0;
}

#citroen-obj10 {
	width: 31px;
	height: 32px;
	margin-left: -190px;
	margin-top: -260px;
	z-index: 3;
	background: url(../images/13citroen/obj10.png) no-repeat 0 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

#contact {
	overflow: hidden;
	background: #111118 url(../images/14contact/background.jpg) no-repeat center center /cover;
}

#contact-loop {
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    color: #FFF;
	opacity: 0;
}

#contact-loop .back-video {
	margin: 0 auto;
}

#contact-hello-bg {
	width: 232px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 90;
	margin-left: -223px;
	margin-top: 36px;
	background-color: #000;
	display: none;
}

#contact-email {
	width: 232px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 901;
	margin-left: -223px;
	margin-top: 36px;
	display: block;
}

#contact-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 585px;
	height: 197px;
	margin-left: -290px;
	margin-top: -89px;
	background: url(../images/14contact/text.png) no-repeat 0 0;
	z-index: 100;
}

#see-all {
	width: 135px;
    height: 135px;
    position: absolute;
    bottom: -135px;
    left: 50%;
    margin-left: -72px;
    background: url(../images/14contact/arrow-seeallprojects.png) no-repeat 0 0;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */